#startScreen{
    background-color: rgb(118, 44, 44);
    height: 460px;
    width: 521px;
    position: absolute;
    display: flex;
    margin-left: 425px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 4%;
}
#startButton{
    height: 50px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
#rps-panel{
  position: fixed;
  width: 150px;
  height: 100%;
  background-color: #cdb4b4;
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0,0,0,0.3);
}

#rps-panel button{
  background-color: red;
  height: 20px;
  color: white;
  padding: 3px 3px 3px 3px;
}
  
.container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        border-radius: 15px;
        margin-left: 355px;
        margin-top: 50px;
        position: fixed;
  }
  .counter {
    display: flex;
    gap: 20px;
    background-color: #4a3c9c;
    padding: 10px 20px;
    border: 1px solid #ecc59a; 
    border-radius: 5px;
  }
  .counter div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  .next-player {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
  }
  .occupied {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
 
  .bluePiece, .blackPiece {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.column {
  position: relative;
}

  .game {
    background-color: #88a5b8;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4%;
    border: 4px solid purple
  }
  
  .game .row {
    width: 100%;
    height: 12.5%;
    display: flex;
  }
  
  .game .row .column {
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .game .row .column .occupied {
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }
  
  .game .row .column .occupied.blackPiece {
    background-color: black;
    box-shadow: 3px 3px 7px rgb(73, 173, 50);
    border: 4px solid purple;
  }
  
  .game .row .column .occupied.bluePiece {
    background-color: rgb(58, 78, 192);
    box-shadow: 3px 3px 7px rgb(0, 0, 0);
    border: 4px solid rgb(49, 196, 225);
    
  }
  
  .game .row .column.whiteCase {
    background-color: #272a80;
  }
  
  .game .row .column.blackCase {
    background: conic-gradient(blue, green, purple, white, rgb(198, 20, 20));
  }
  
  .readyToMove {
    background-color: rgb(66, 172, 140);
  }
  
  *{
    margin: 0;
    padding: 0;
  }
  
  button{
      cursor: pointer;
      outline: none;
      border: none;
  }
  
  body {
      font-family: sans-serif;
      position: relative;
      font-size: 16px;
      line-height: 1.6;
      color: #fff;
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: black;
    }
  
    .modal {
      position: fixed;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.8);
  
      visibility: hidden;
      opacity: 0;
      transition: all 0.15s ease-out;
    }
    
    .effect{
      visibility: visible;
      opacity: 1;
    }
  
    .modal-content {
      margin-top: 50px;
      position: relative;
      background-color: black;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background: conic-gradient(black, black, rgb(121, 62, 121), white, blue);
      border-radius: 20px;
    }
    
    .modal-body {
      padding: 5em;
      color: black;
    }
  
    .modal-body p{
      text-align: center;
      font-size: 20px;
      letter-spacing: 0.1em;
      font-weight: bolder;
      font-family: sans-serif;
      color: rgb(3, 206, 237);
    }
  
  .modalClose {
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      position: fixed;
      width: 40px;
      height: 40px;
    }
    .modalClose:before, .modalClose:after {
      content: "";
      position: absolute;
      top: 18px;
      left: 0;
      right: 0;
      height: 4px;
      background: #2c4fa9;
      border-radius: 4px;
    }
    .modalClose:before {
      transform: rotate(45deg);
    }
    .modalClose:after {
      transform: rotate(-45deg);
    }
  
    .modal .btn-container{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }
  
    .modal .btn{
      background-color: #0f72ce;
      color: rgb(59, 125, 191);
      padding: 15px 40px;
      font-weight: 800;
      font-size: 20px;
      color: white;
      margin-bottom: 150px;
      border: 10px dotted #25d1e1;
      border-radius: 10px;
      font-size: 20px;
    }
    .modal .btn2{
      background-color: #020203;
      color: rgb(4, 8, 12);
      padding: 15px 40px;
      font-weight: 800;
      font-size: 20px;
      color: white;
      margin-bottom: 150px;
      border: 10px dotted #25d1e1;
      border-radius: 10px;
      font-size: 20px;
    }


    .background-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        grid-template-rows: repeat(2, 1fr);     
        height: 100%;
        width: 100%;
        position: fixed;   
        z-index: -10; 
        top: 0;
        left: 0;      
    }
    
    .background-grid img {
        width: 100%; 
        height: 60vh;
        display: block;
    }

.imginwindiv{
  position: relative;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-left: 425px;
  margin-top: 30px;
  color: white;
  border-radius: 20%;
  border: 3px solid purple;
}
.img1{
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 100px;
  color: white;
  border-radius: 20%;
  border: 3px solid purple;
}
.img2{
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 100px;
  margin-left: 900px;
  color: white;
  border-radius: 20%;
  border: 3px solid purple;
}
.img1{
  animation: spinReverse 1s linear infinite;
}

@keyframes spinReverse {
  100% {
      transform: rotate(-360deg);
  }
}

.img2{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}


#result{
  background-color: rgb(19, 63, 116);
}














